@model Checkitlink.Models.ViewModels.UserVM

@{
    ViewBag.Title = "Создать админа";
}

@using (Html.BeginForm("CreateAdminUser", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="container">
        <div class="row">
            <table class="table table-striped" style="width:60%" align="center">
                <tbody>
                    <tr>
                        <th scope="row">
                            @Html.LabelFor(model => model.Login)
                        </th>
                        <td>
                            @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessage("loginmatch", new { @class = "text-danger" })
                            @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            @Html.LabelFor(model => model.Email)
                        </th>
                        <td>
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessage("emailmatch", new { @class = "text-danger" })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            @Html.LabelFor(model => model.Password)
                        </th>
                        <td>
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            @Html.LabelFor(model => model.ConfirmPassword)
                        </th>
                        <td>
                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            @Html.LabelFor(model => model.AvatarName)
                        </th>
                        <td class="avatarUser">
                            @Html.EditorFor(model => model.AvatarName, new { htmlAttributes = new { @class = "form-control" } })

                            @if (Model.AvatarName != null)
                            {
                                <img id="imgPreview" src="/Avatars/Uploads/UserAvatars/@Model.UserId/Thumbs/@Model.AvatarName" />
                            }
                            else
                            {
                                <img id="imgPreview" src="~/Content/img/no-image.png" />
                            }
                            <br />
                            <br />

                            <div class="buttonImage">
                                <input class="inputImage" type="file" , name="file" id="imageUpload" /><!--для загрузки файла картинки-->
                                <label for="imageUpload">Выбрать аватар</label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="form-group">
                <div style="text-align:center">
                    <input type="submit" value="Сохранить" class="btn btn-success" style="margin-right:10px;" />
                    @Html.ActionLink("Назад", "Index", "", new { @class = "btn btn-info" })
                </div>
            </div>
        </div>
    </div>
}

@section Scripts
{
    <script src="~/Content/CheckitJS/AddUserAvatarJS.js"></script>
}