@model Checkitlink.Models.ViewModels.ProfileVM

@{
    ViewBag.Title = "Изменение пароля";
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}

@using (Html.BeginForm("EditPassword", "Home"))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.UserInfo.UserId)
    @Html.HiddenFor(model => model.UserInfo.Login)
    @Html.HiddenFor(model => model.UserInfo.Email)
    @Html.HiddenFor(model => model.UserInfo.AvatarName)

    <div class="container">
        <div class="row">
            <table class="table table-striped" style="width:60%" align="center">
                <tbody>
                    <tr>
                        <th scope="row">
                            @Html.DisplayNameFor(model => model.UserInfo.Login)
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.UserInfo.Login)
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            @Html.DisplayNameFor(model => model.UserInfo.Email)
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.UserInfo.Email)
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            @Html.LabelFor(model => model.UserInfo.AvatarName)
                        </th>
                        <td class="avatarUser" style="text-align:left;">
                            @if (Model.UserInfo.AvatarName != null)
                            {
                                <img id="imgPreview" src="/Avatars/Uploads/UserAvatars/@Model.UserInfo.UserId/@Model.UserInfo.AvatarName" />
                            }
                            else
                            {
                                <img id="imgPreview" src="~/Content/img/no-image.png" />
                            }
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Введите старый пароль
                        </th>
                        <td>
                            @Html.Password("oldPass", null, new { @class = "form-control"})
                            @Html.ValidationMessage("oldPassError", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Введите новый пароль
                        </th>
                        <td>
                            @Html.EditorFor(model => model.UserInfo.Password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UserInfo.Password, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Подтверждение пароля
                        </th>
                        <td>
                            @Html.EditorFor(model => model.UserInfo.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UserInfo.ConfirmPassword, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="form-group">
                <div style="text-align:center">
                    <input type="submit" value="Сохранить" class="btn btn-success" style="margin-right:10px;" />
                    @Html.ActionLink("Назад", "Index", "", new { @class = "btn btn-info" })
                </div>
            </div>
        </div>
    </div>
}
