@model Checkitlink.Models.ViewModels.LinkVM

@{
    ViewBag.Title = "Информация о закладке";
}

@if (TempData["OK"] != null)
{
    <div class="alert alert-success">
        @TempData["OK"]
    </div>
}

<h3 style="text-align:center; margin-top:0;">Закладка: @Model.LinkName</h3>

<div class="container">
    <div class="row">
        <table class="table table-striped" style="width:60%" align="center">
            <tbody>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.LinkName)</th>
                    <td>@Html.DisplayFor(model => model.LinkName)</td>
                </tr>
                <tr>
                    <th scope="row">Адрес закладки</th>
                    <td>
                        <a href="@Html.DisplayFor(model => model.LinkAddress)" target="_blank" style="text-decoration:none" title="Перейти">
                            @Html.DisplayFor(model => model.LinkAddress)
                        </a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.LinkPicture)</th>
                    <td>
                        <img class="imgCardLink" src="/Screenshots/Uploads/LinkAvatars/@Model.LinkPicture.Substring(0, Model.LinkPicture.IndexOf('.'))/@Model.LinkPicture">
                    </td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.LinkCategory)</th>
                    <td>@Html.DisplayFor(model => model.LinkCategory)</td>
                </tr>
                <tr>
                    <th scope="row">Статус</th>
                    <td>
                        @if (Model.PublicStatus == true)
                        {
                            <span>
                                В общем доступе
                            </span>
                        }
                        else
                        {
                            <span>
                                Скрытая
                            </span>
                        }
                    </td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.CreatedAt)</th>
                    <td>@Html.DisplayFor(model => model.CreatedAt)</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.LinkDescription)</th>
                    <td>@Html.DisplayFor(model => model.LinkDescription)</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.UserAuthor)</th>
                    <td>
                        @Html.ActionLink(Model.UserAuthor, "InfoUser", "User", new { id = Model.UserAuthorId }, new { target = "_blanc", style = "text-decoration: none", title = "Информация о пользователе" })
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<p style="text-align:center">
    @Html.ActionLink("Редактировать", "EditUserLink", new { id = Model.LinkID }, new { @class = "btn btn-danger" })
    @Html.ActionLink("Назад", "Index", "", new { @class = "btn btn-primary" })
</p>
